$primary-bg: #ffffffd9;
$primary-col: #333;
$secondary-col: #ccb453;
$grad-col-block: #c0c30038;
$primary-col-dimmed: darken($color: $secondary-col, $amount: 20);

$row-height: 40px;
$num-of-details: 3;