@import "./mixins-n-placeholders";
@import "./variables";

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: auto / 1fr [main-start] 1024px [main-end] 1fr;
  background: url('../../assets/images/background.jpg') no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
  padding: .4rem 0;
  font-family: 'Concert One', cursive;

  & > * {
    grid-column: main;
  }

  &::-webkit-scrollbar {
    width: 17px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-col;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-col;
    background-image: linear-gradient($secondary-col, #ccc, $primary-bg);
    border-radius: 50px;
  }
}

.header {
  background-color: $primary-bg;
  background-image: 
    linear-gradient(40deg, transparent 92%, $grad-col-block 92%), 
    linear-gradient(12deg, transparent 94%, $grad-col-block 94%), 
    linear-gradient(70deg, transparent 93%, $grad-col-block 93%);
  border-radius: 10px 10px 0 0;

  &__h1 {
    position: fixed;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

.main {
  background-color: $primary-bg;
  border-radius: 0 0 10px 10px;

  &__header {
    align-self: flex-start;
    margin: .7rem 0;
    margin-right: 40px;
    padding: .4rem;
    padding-left: 40px;
    position: relative;
    height: 48px;

    font-size: 2rem;
    background-color: $primary-col;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: -48px;
      top: 0;
      border-style: solid;
      border-width: 0 24px 48px 24px;
      border-color: transparent;
      border-left-color: $primary-col;
    }
  }

  &__header--level-3 {
    align-self: stretch;
    text-align: center;
    background: none;
    font-size: 1.7rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 0;
    padding: .4rem 0;
    text-decoration: underline #9bb7df;

    &::before {
      display: none;
    }
  }

  &__link {
    color: $primary-col;
    transition: all .1s ease-in-out;

    &:hover {
      color: $secondary-col;

      &::before {
        color: #ccb4537e;
      }
    }
  }

  &__link--header {
    display: inline-block;
    width: 100%;

    color: #fff;
    position: relative;

    &::before {
      content: "\f0c1";
      display: block;
      position: absolute;
      width: 30px;
      height: 1.2rem;
      top: 7px;
      left: -34px;
      color: transparent;
      transition: inherit;

      font-family: FontAwesome;
      font-size: 1.2rem;
      text-align: right;
    }
  }

  &__text {
    color: $primary-col;
  }

  &__block {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__container {
    align-self: stretch;
  }
}

.about-me {

  &__container {
    display: flex;
    flex-flow: row nowrap;
    padding: .7rem 4rem;
  }

  &__pic {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 5px;
    margin-right: 30px;
    background-image: linear-gradient(transparent 50%, $primary-col 50%);
    border-radius: 50%;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 7px;
      right: 7px;
      top: 7px;
      bottom: 7px;
      background: url('../../assets/images/ilya.jpg') no-repeat center top;
      background-size: 130% auto;
      box-shadow: 0 0 0 3px #ccb453;
      border-radius: 50%;
    }
  }

  &__data {
    display: flex;
    flex-flow: column nowrap;
    padding: .4rem 0;
    flex-grow: 1;

    border: 3px solid $primary-col;
    border-radius: 7px;
  }

  &__data-row {
    margin: .4rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__icon-cont {
    width: 43px;
    display: inline-block;
    padding: .4rem;
    padding-right: 1rem;
    margin-right: .4rem;

    background-color: $primary-col;
    border-radius: 0 30px 30px 0;
    color: #fff;
    font-size: 1.3rem;
  }
}

.skills {

  &__list {
    display: grid;
    grid-template-columns:
      [html-start] repeat(4, 1fr) 
      [html-end css-start] repeat(4, 1fr) 
      [css-end js-start] repeat(4, 1fr) [js-end];
    grid-template-rows:
      [html-start css-start js-start] 
      repeat(4, $row-height) 
      [html-end css-end js-end];
    grid-auto-rows: $row-height;
    padding: .7rem 0;
  }

  &__item {
    border: 1px solid transparent;
    border-width: 1px 0;
    background: no-repeat center / auto 80%;

    &--small {
      grid-area: span 2 / span 2;
      border: none;
    }
  }

  &__details {
    border: none;

    &--html {
      grid-row: html-end / span $num-of-details;
      grid-column: html;
    }
    
    &--css {
      grid-row: css-end / span $num-of-details;
      grid-column: css;
    }
    
    &--js {
      grid-row: js-end / span $num-of-details;
      grid-column: js;
    }
  }

  &__details-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    border-bottom: 1px solid transparent;
    background: #fff;
    text-align: center;

    &--html {
      border-image: linear-gradient(to right, #ff651e, #004ce9) 1;
    }

    &--css {
      border-image: linear-gradient(to right, #004ce9, #f7e018) 1;
    }

    &--js {
      border-color: #f7e018;
    }
  }

  &__text {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: $primary-col;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  &__html {
    grid-area: html;
    background-color: lighten($color: #ff651e, $amount: 40);
    background-image: url('../../assets/images/html_logo.png');
    border-image: linear-gradient(to right, #ff651e, #004ce9) 1;
  }

  &__css {
    grid-area: css;
    background-color: lighten($color: #004ce9, $amount: 40);
    background-image: url('../../assets/images/css_logo.png');
    border-image: linear-gradient(to right, #004ce9, #f7e018) 1;
  }

  &__js {
    grid-area: js;
    background-color: #f7e018;
    background-image: url('../../assets/images/javascript_logo.png');
    background-position: 90% 80%;
    border-color: #f7e018;
  }

  &__git {
    background-image: url('../../assets/images/git_logo.png');
  }

  &__sass {
    background-image: url('../../assets/images/2000px-Sass_Logo_Color.svg.png');
    background-color: lighten($color: #ce679a, $amount: 30);
  }

  &__less {
    background-image: url('../../assets/images/less_logo.png');
    background-size: 70% auto;
    background-color: lighten($color: #2a4f84, $amount: 40);
  }

  &__jq {
    background-image: url('../../assets/images/jQuery_logo.gif');
  }

  &__boot {
    background-image: url('../../assets/images/220px-Boostrap_logo.svg.png');
  }

  &__ajax {
    background-image: url('../../assets/images/ajax__logo.png');
    background-color: #0784cc;
    background-size: auto 49%;
  }

  &__unknown {
    width: 100px;
    height: 100px;
    margin: .7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-size: auto 80%;
    border-radius: 50%;
    box-shadow: 
      0 0 0 3px #ccc, 
      0 0 0 5px #f3dbe7,
      0 0 0 7px #9bb7df;
  }

  &__ts {
    background-image: url('../../assets/images/typescript_logo.png');
    background-color: #007acc;
  }

  &__node {
    background: 
    no-repeat url("../../assets/images/node_logo.png") center 22% / 70% auto, 
    no-repeat url("../../assets/images/npm_logo.png") center 73% / 40% auto #fff;
  }

  &__ang {
    background-image: url('../../assets/images/angular_logo.png');
  }

  &__svg {
    background-image: url('../../assets/images/svg_logo.png');
    background-size: auto 70%;
  }

  &__learning {
    display: flex;
    flex-flow: column nowrap;
  }

  &__learning-cont {
    display: flex;
    justify-content: center;
    padding: .7rem 0;
  }
}

.projects {

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
  }

  &__project {
    display: flex;
    flex-flow: column nowrap;
    width: 280px;
    margin: .7rem;
    padding: .4rem;

    background-color: lighten($color: $secondary-col, $amount: 10);
    border-radius: 7px;
    box-shadow: 0 3px 0 0 darken($color: $secondary-col, $amount: 30);
  }

  &__text {
    display: inline-block;
    border-radius: 7px;
    background: $primary-col-dimmed;
    color: #fff;
  }
  
  &__name {
    align-self: center;
    padding: .4rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    padding: .4rem;
    margin: .4rem 0;

    border: 1px solid $primary-col-dimmed;
    border-radius: 7px;
  }

  &__property {
    font-size: .8rem;
    padding: .2rem;
    margin-top: .8rem;

    &--first {
      margin-top: 0;
    }
  }

  &__indicator {
    height: 1rem;
    border: 1px solid $primary-col-dimmed;
    margin: .4rem 0;
    position: relative;
  }

  &__indicator-runner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: $primary-col-dimmed;
    transition: width .4s ease-in-out;
    height: 100%;
  }

  &__link-container {
    display: inline-flex;
    align-self: center;
    border-radius: 20px;
    background-color: lighten($color: $secondary-col, $amount: 20);
    overflow: hidden;
  }

  &__link {
    display: block;
    padding: .4rem .7rem;
    color: darken($color: $secondary-col, $amount: 30);
    transition: all .1s ease-in-out;

    &:hover {
      background: darken($color: $secondary-col, $amount: 40);
      color: $primary-col-dimmed;
    }
  }
}

.education {

  &__writing {
    align-self: center;
    font-size: 2.2rem;
  }

  &__schl {
    align-self: center;
    width: 200px;
    height: 200px;
    margin: 1rem;
    background: url('../../assets/images/rsschlool.svg') no-repeat -20% center / 90% auto #fff;
    border-radius: 50%;
    animation: schl-anim 1s infinite alternate ease-out;

    @at-root {
      @keyframes schl-anim {
        0% {
          box-shadow: 0 0 10px 0px #ccc;
        }
        100% {
          box-shadow: 0 0 10px 8px #ccc;
        }
      }
    }
  }
}

.summ {
  
  &__article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &__paragraph {
    width: 80%;
    margin: .3rem 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.4;
  }
}

.english {
  align-items: center;

  &__table {
    width: 80%;
    align-self: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;

    background-color: $primary-col-dimmed;
    grid-gap: 1px;
    padding: 1px;
    margin: 1rem 0 2rem 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -10px;
      background-color: $primary-col;
    }
  }

  &__cell {
    background-color: $primary-bg;
    text-align: center;
    padding: .4rem 0;

    &--header {
      background-color: $primary-col-dimmed;
    }
  }
  
  &__text {
    font-family: 'Source Code Pro', monospace;
    color: darken($color: $secondary-col, $amount: 30);
    
    &--header {
      font-family: 'Concert One', cursive;
      color: #fff;
      font-size: 1.2rem;
    }
  }

  &__logo {
    width: 250px;
    height: 70px;
    background: url('../../assets/images/toefl_logo.png') center center / 90% auto no-repeat;
  }

  &__mark {
    font-size: 4rem;
    color: $secondary-col;
    margin: 1rem 0;
    text-shadow: 0 2px 0 $primary-col-dimmed;
  }

  &__details {
    color: #777;
    font-size: 1.2rem;
    line-height: 1.2;

    &--tiny {
      font-size: 1rem;
    }
  }
}

.code-container {
  display: grid;
  grid-template: 4fr 2fr / auto;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-image: linear-gradient(170deg,#c9c8c8 40%, #fff 40%);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: transparent;
    transition: background-color .1s ease-in-out;
  }

  &--effect-fade::before {
    background-color: #fff;
  }
}
.code-field {
  display: flex;
  flex-flow: column nowrap;
  align-self: start;
  justify-self: center;

  width: 470px;
  padding: .7rem;
  margin-top: 3rem;

  color: #00c200;
  background-color: #000;
  font-size: 1.7rem;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  border-radius: 7px;

  &__gutter {
    color: #00c200;
    width: 30px;
  }

  &__main {
    flex-grow: 1;
  }

  &__row {
    margin: .7rem 0;
    display: flex;
    flex-flow: row nowrap;

    &--style-output {
      color: lime;
    }

    &--hidden > * {
      color: transparent;
    }
  }

  &__pointer {
    display: inline-block;
    width: 18px;
    height: 100%;
    transition: .2s all ease-in-out;
    margin-bottom: -7px;
    border-bottom: 4px solid #00c200;
    margin-left: 3px;

    &--hidden {
      border-bottom-color: transparent;
    }
  }
}
.code-writing {
  align-self: center;
  justify-self: center;

  font-size: 3rem;
  color: #777;
  cursor: default;
  user-select: none;
  transition: .3s 1s all ease-in-out;
  font-family: 'Concert One', cursive;
  text-transform: uppercase;

  &--hidden {
    color: transparent;
  }
}

// @media screen and (max-width: 1024px) {
//   body {
//     grid-template-columns: auto;
//   }

//   .skills__list {
//     grid-template-columns: 
//       [html-start js-start] repeat(6, 1fr)
//       [html-end js-end css-start] repeat(6, 1fr) [css-end];
//     grid-template-rows: 
//       [html-start css-start] repeat(4, $row-height)
//       [html-end css-end] repeat($num-of-details, $row-height) 
//       [js-start] repeat(4, $row-height) [js-end];
//   }
// }

// @media screen and (max-width: 620px) {}